/*webkit-sassui-flex-lmr-mauto Start*/
.webkit-sassui-flex-lmr-mauto {
  display: flex;
  align-items: center;
}

.webkit-sassui-flex-lmr-mauto > .middle {
  flex: 1;
}

.webkit-sassui-flex-lmr-mauto[data-align=flex-start] {
  align-items: flex-start;
}

.webkit-sassui-flex-lmr-mauto[data-align=center] {
  align-items: center;
}

.webkit-sassui-flex-lmr-mauto[data-align=flex-end] {
  align-items: flex-end;
}

.webkit-sassui-flex-lmr-mauto[data-align=normal] {
  align-items: normal;
}

/*webkit-sassui-flex-lmr-mauto End*/
.test-webkit-sassui-flex-lmr-mauto {
  border: 1px solid saddlebrown;
  margin-bottom: 20px;
}

.test-webkit-sassui-flex-lmr-mauto > .middle {
  padding: 0 10px;
}
